pip==23.2.1
protobuf==3.20
pandas==1.2.3
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==0.8.0
ujson==5.1.0
fastjsonschema==2.15.1
json5==0.9.6
jsonpickle==3.0.1
jsonschema==4.4.0
click==8.0.4
altair==4
streamlit==1.4.0
